* { box-sizing: border-box; }
body { height: 100vh; }
p { font-family: Montserrat; }
*:focus {outline:none}

.container {
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.eventContainer {
    width:100%;
    height: 0px;
    overflow-y: scroll;
    transition: all 0.3s;
}

.deptContainer {
    padding-top: 50px;
    flex-basis: auto;
    position: relative;
    width: 200px;
    min-width: 200px;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgba(255,255,255,0.8);
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    
}

.deptContainer::-webkit-scrollbar { 
    display: none; 
}


.eventDetailsContainer::-webkit-scrollbar { 
    display: none; 
}

.department {
    position: relative;
    display: block;
    width: 100%;
    border: none;
    padding: 20px;
    text-align: right;
    font-size: 30px;
    font-family: Bebas Neue;
    cursor: pointer;
    background: transparent;
    transition: all 0.2s;
    backface-visibility: hidden;
}

.department:hover {
    transition: all 0.4s;
    padding-right: 50px;
    background: rgb(51,148,250);
    color: white;
}

.deptActive {
    transition: all 0.4s;
    padding-right: 70px;
    background: rgb(51,148,250);
    color: white;
}


.events {
    display: block;
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 17px;
    text-align: left;
    background: transparent;
    transition: background 0.4s;
}

.events:hover {
    background: grey;
    transition: background 0.4s;
}



.eventDetails {
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: all 0.3s;
}


.eventDetailsContainer {
    flex-grow: 1;
    height: 80%;
    background: rgba(0,0,0,0.8);
    overflow-y: scroll;
    border-radius: 0px 10px 10px 0px;
    padding: 50px;
    margin-top: 50px;
}

.eventContent * {
    color: white;
}

.eventContent > h1 {
    font-size: 4em;
    letter-spacing: 3px;
}

.eventContent > ul || ol {
    margin: 20px;
}

.eventContent > * > li {
    margin: 10px;
    font-family: Montserrat;
}

.eventContent > p {
    line-height: 1.5;
}

.event-button {
    font-family: Bebas Neue;
    font-size: 1.5em;
    color: white;
    padding: 0.1em 2em;
    border-radius: 10px;
    border: 2px white solid;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s;
  }

  .event-button:hover {
    background:rgb(51,148,250);
    color: white; 
    transition: all 0.3s;
  }
