/* Global Stuff */

* { box-sizing: border-box; }
body {height: 100vh;overflow: hidden;}
 .deptContainer::-webkit-scrollbar { display: none; }
.eventDetailsContainer::-webkit-scrollbar { display: none; }
p { font-family: Montserrat; }
*:focus {outline:none}


/* Header Hotfix */
.navContainer > li {
    padding-top: 5px;
}

/* Containers */
.container {
    width: 70%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.deptContainer {
    position: relative;
    width: 300px;
    height: 80%;
    overflow: hidden;
    background: rgba(255,255,255,0.8);
    border-radius: 10px 0px 0px 10px;
    margin-top: 50px;
    
}

.eventDetailsContainer {
    height: 80%;
    width: calc(100% - 300px);
    background: rgba(0,0,0,0.8);
    overflow-y: scroll;
    border-radius: 0px 10px 10px 0px;
    padding: 50px;
    margin-top: 50px;
}

.deptNames {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

/* Individual Elements */

.department {
    padding: 10px;
    margin: 0px;
    text-align: right;
    font-size: 30px;
    font-family: Bebas Neue;
    cursor: pointer;
    transition: all 0.2s;
    color: black;
}

.department:hover {
    background: rgb(51,148, 250);
}

.department span {
    display: block;
    transition: all 0.2s;
    padding-right: 10px;
}

.department:hover span {
    transform: translateX(-50px);
    color: white;
    transition: all 0.2s;
}

.eventNames {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    transform: translateX(300px);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.eventNames > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 0px;
    cursor: pointer;
    transition: all 0.2s;
}

.eventNames > div > span {
    font-size: 30px;
    font-family: Bebas Neue;
    transition: all 0.2s;
    color: black;
    padding-left: 20px;
}

.eventNames > div:hover {
    background: rgb(104, 255, 210);
    transition: all 0.2s;
}

.addEvent{ 
    display: block;
}

.addEvent:hover {
    color: white;
}


/* Event Content */
.eventContent * {
    color: white;
}

.eventContent > h1 {
    font-size: 4em;
    letter-spacing: 3px;
}

.eventContent > ul || ol {
    margin: 20px;
}

.eventContent li {
    margin: 10px;
    font-family: Montserrat;
    line-height: 1.2em;
    padding-left: 10px;
}

.eventContent > p {
    line-height: 1.5;
}

.active {
    background: rgb(51,148, 250);
}

.active > span {
    color: rgb(255,255,255) !important;
}


/* Modal */
.modal {
    display: none;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    
    .deptContainer {
        position: relative;
        width: 100%;
        overflow-y: scroll;
        border-radius: 0px;  
    }
    
    .eventDetailsContainer {
        display: none;
    }

    .department {
        text-align: center;
    }
    
    .eventNames {
        transform: translateX(100%);
    }

    .modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s;
        display:block;
    }

    .modalContent {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        overflow-y: scroll;
    }

    .show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s;
    }

    /* Event Content */
    .eventContent > h1 {
        font-size: 3em;
        letter-spacing: 3px;
    }

    .eventContent > ul || ol {
        margin: 20px;
    }

    .eventContent > * > li {
        margin: 10px;
        font-family: Montserrat;
    }

    .eventContent > p {
        line-height: 1.5;
    }

    .closeButton {
        cursor: pointer;
    }

}


.gears {
    display: block;
    margin: auto;
    height: 240px;
    fill: rgba(255,255,255, 0.8);
    animation: upDown 3s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.gear1, .gear3 {
    animation: rotateCW 3s infinite linear;
}

.gear1 {
    transform-origin: 29.5% 29.5%;
    fill: rgb(85, 178, 255);
}

.gear2 {
    animation: rotateCCW 2.8s infinite linear;
    transform-origin: 75.6% 54.9%;
    fill: rgb(85, 215, 255);
}

.gear3 {
    transform-origin: 39.33% 80.33%;
    animation-duration: 2.4s;
    fill: rgb(58, 255, 222);
}

@keyframes upDown {
    0% { transform: translateY(0)}
    50% { transform: translateY(30px)}
    100% { transform: translateY(0)}
}

@keyframes rotateCW {
    0% { transform: rotate(0)}
    100%{ transform: rotate(360deg)}
}

@keyframes rotateCCW {
    0% { transform: rotate(0)}
    100%{ transform: rotate(-360deg)}
}

